{% load static %}
{% include 'header.html' %}
    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i>Promociones</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="{% url 'inicio' %}"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

    <!-- Contentenido -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <div class="card" >
                <div class="card-header">
                  <h3 class="card-title"><strong><i>Descuentos</i></strong></h3>


                </div>
                <div class="card-body">
<div class="card card-success">
      <div class="card-body">
        <div class="row">
{% block content %}
<div class="card-body table-responsive p-0">
<table class="table table-hover text-nowrap">
<thead>
  <tr>
      <th>Imagen</th>
    <th>Nombre de Producto</th>
    <th>Precio Actual</th>
    <th>Descuento</th>
    <th>Editar</th>
  </tr>
</thead>
<tbody>
 <tr>
     {% for p in object_list %}

             <td class="text-center">
                 <img src="{{ p.get_image }}" class="direct-chat-img" style="width: 60px; height: 60px; float: left">
             </td>
      <td>{{ p.Productos }}</td>
      <td>{{ p.Precio }}</td>
      <td>{{ p.Descuento }} %</td>
         <td><a href="{% url 'Editar_Promociones' p.id %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
             <a href="{% url 'Eliminar_Promociones' p.id %}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></a>
         </td>
 </tr>
{% endfor %}
</tbody>
<tfoot>
  <tfoot>


</tfoot>
</table>
</div>
{% endblock %}


        </div>
                            <div class="card-footer">
<a href="{% url 'Crear_Promociones' %}" class="btn btn-block btn-outline-success btn-flat btnTest"><i class="fas fa-exclamation"></i>
Ingrese una Promocion
</a>
      </div>
    </div>
                </div>



              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>





</div>

 {% include 'footer.html' %}