{% extends 'list.html' %}
{% block columns %}
    <tr>
        <th>id</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Cargo</th>
        <th>Editar</th>
    </tr>
{% endblock %}

{% block rows %}
     <tbody>
     {% for e in object_list %}
         <tr>
             <td>{{ e.id }}</td>
             <td>{{ e.name }}</td>
             <td>{{ e.date_joined }}</td>
             <td>{{ e.Estado }}</td>
             <td>{{ e.Cargos }}</td>
             <td><button type="button" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></button>
                 <button type="button" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></button>
             </td>
         </tr>
     {% endfor %}
     </tbody>
    </table>
    </div>
    <div class="card-footer">
        <a href="{{ create_url }}" class="btn btn-outline-success btn-flat btnTest"><i class="fas fa-plus"></i>
            Nuevo registro
        </a>
    </div>

{% endblock %}