{% load static %}
{% include 'header.html' %}

    <!-- Contentenido -->
<div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="card-title"><strong><i>{{ title }}</i></strong></h3>
              </div>
              {% include 'Categoria/../lista.html' %}
              <!-- /.card-footer-->

            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>

    </div>

{% include 'footer.html' %}