
{% block content %}
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                          <tr>
                            <th>Imagen</th>
                            <th>Categoria</th>
                            <th>Editar</th>
                          </tr>
                        </thead>
                        <tbody>
                           {% for e in object_list %}
                         <tr>
                             <td class="text-center">
                                 <img src="{{ e.get_image }}" class="img-fluid d-block mx-auto" style="width: 20px; height: 20px">
                             </td>
                              <td>{{ e.Nombre }}</td>
                             <td><a href="{% url 'Editar2' e.id %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
                                 <a href="{% url 'Delete_categoria' e.id %}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i></a>


                             </td>
                         </tr>
                        {% endfor %}
                        </tbody>
                      <tfoot>
                          <tfoot>
        <td>
    <div class="card-footer">
        <a href="{{ edit_url }}" class="btn btn-block btn-outline-success btn-flat btnTest"><i class="fab fa-autoprefixer"></i>
            Nuevo registro
        </a>
                      </tfoot>
                      </table>
                    </div>
{% endblock %}