{% load static %}
{% include 'header.html' %}

    <!-- contenido -->
    <div class="content-wrapper">
        <!--cartas cabezera-->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"><strong><i> Perfil</i></strong></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index.html"><strong><i>inicio</i></strong></a></li>
            <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">

          <!-- parte del perfil -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{% static 'img/Foto de perfil.svg' %}" alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">Alex Meneses 
                <br>Andres Gonzales
              </h3>

              <p class="text-muted text-center">Desarollador de Software</p>

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Seguidores</b> <a class="float-right">56,045</a>
                </li>
                <li class="list-group-item">
                  <b>Siguiendo</b> <a class="float-right">1,159</a>
                </li>
                <li class="list-group-item">
                  <b>Amigos</b> <a class="float-right">29,790</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Seguir</b></a>
            </div>
            <!-- /.card-body -->
          </div>

          <!-- sobre nosotros -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Sobre nosotros</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <strong><i class="fas fa-book mr-1"></i> Educación</strong>

              <p class="text-muted">
                Harvard University y Cambridge University (Contabilidad y idiomas)
                <br>
                SENA: Servicio Nacional de Aprendizaje (Programación)
              </p>

              <hr>

              <strong><i class="fas fa-map-marker-alt mr-1"></i> Locación</strong>

              <p class="text-muted">Medellin, Colombia</p>

              <hr>

              <strong><i class="fas fa-pencil-alt mr-1"></i> Habilidades</strong>

              <p class="text-muted">
                <span class="tag tag-danger">Diseño de interfaz de usuario,</span>
                <span class="tag tag-success">Codificación,</span>
                <span class="tag tag-info">Javascript,</span>
                <span class="tag tag-warning">PHP,</span>
                <span class="tag tag-primary">Python</span>
              </p>

              <hr>

              <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>
              <p class="text-muted" ><i>Contamos con experiencia y los conocimientos tecnicos necesarios para desarrollar actividades en el curso del software, ademas, contamos con el nivel de ingles avanzado para una modificación futura para el beneficio y comodidad de nuestros clientes</i></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2"><!-- cabezera -->
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Actividad</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Notificaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Ajustes</a></li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="activity"><!-- Usuarios -->

                  <!-- Post Auron -->
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/Usuarios principales/Auron.jpeg' %}" alt="user image">
                      <span class="username">
                        <a href="#">Raúl Álvarez Genes</a>
                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Compartio publicidad - 7:30 PM Ayer</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      <strong><i>Frases Iconicas</i></strong>
                      <ol type="A"><i>
                        <li>Calvoo</li>
                        <li>Abduzcan</li>
                        <li>Te quiero nene</li>
                        <li>Tengo miedo</li>
                        <li>Yo no soy rico, soy un pobre con dinero</li>
                        <li>Hola cerebro, estás ahí? «su llamada no puede se procesada»</li>
                        <li>Yo soy un Antisistema yo rompo las reglas</li>
                        <li>Vamos a morir todos!</li></i>
                      </ol>
                    </p>

                    <p>
                      <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                      <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gusta</a>
                      <span class="float-right">
                        <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comentarios (24,276)
                        </a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (2,631,564)</a>
                      </span>
                    </p>

                    <input class="form-control form-control-sm" type="text" placeholder="Comentar">
                  </div>
                  <!-- /.post -->

                  <!-- Post Maria -->
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/Usuarios principales/Maria.jpeg' %}" alt="user image">
                      <span class="username">
                        <a href="#"> Maria Isabel P.</a>
                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Compartio publicidad - Hace 2 dias</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      <strong>Convocatoria</strong>
                      <br>
                      Convoco a la directiva de la empresa para solicitar los informes mensuales de cada área administrativa de la empresa, asi como el conocimiento general de la empresa y el comportamiento del software y efectos que ha tenido con las ganancias y perdidas de productos
                      <br>
                      <i>P.D.: Soy lo mas hermoso del mundo caramba!</i>
                    </p>

                    <p>
                      <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                      <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gusta</a>
                      <span class="float-right">
                        <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comentarios (159)
                        </a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (2,735)</a>
                      </span>
                    </p>

                    <input class="form-control form-control-sm" type="text" placeholder="Comentar">
                  </div>

                  <!-- Post Juan Manuel-->
                  <div class="post clearfix">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/Usuarios principales/Juan Manuel.jpeg' %}" alt="User Image">
                      <span class="username">
                        <a href="#">Juan Manuel Barranco Padilla</a>
                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Te menciono en un comentario - Hace 3 dias</span>
                    </div>
                    <!-- /.user-block -->

                    
                    <p>
                      <strong>licitaciones</strong>
                      <br>
                      Mi empresa tiene un personal experimentado y cuento con los productos necesarios para la satisfacción de la empresa y retro alimentación para el programa que ustedes están utilizando para la administración y control del inventario ,somos una empresa nueva en el mercado, aun asi tenemos el personal con la experiencia necesaria para ofrecerles un servicio eficiente y de la mejor calidad
                    </p>
                    <p>
                      <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                      <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gusta</a>
                      <span class="float-right">
                        <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comentarios (3,800)
                        </a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (1,524)</a>
                      </span>
                    </p>

                    <input class="form-control form-control-sm" type="text" placeholder="Comentar">

                  </div>
                  <!-- /.post -->

                  <!-- Post Melissa-->
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'img/Usuarios principales/Melissa.jpeg' %}" alt="User Image">
                      <span class="username">
                        <a href="#">Melissa Yapura</a>
                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                      </span>
                      <span class="description">Posteó 5 fotos - hace 5 dias</span>
                    </div>
                    <!-- Imagen mayor -->
                    <div class="row mb-3">
                      <div class="col-sm-6">
                        <p><strong><i>Adjunto  fotos para futuros proyectos</i></strong></p>
                        <img class="img-fluid" src="{% static 'img/Compras/Compras.svg' %}" alt="Photo">
                      </div>
                      <!-- Imagenes menores izquierda -->
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-6">
                            <img class="img-fluid mb-3" src="{% static 'img/Compras/Compras 1.png' %}" alt="Photo">
                            <img class="img-fluid" src="{% static 'img/Compras/Compras 3.svg' %}" alt="Photo">
                          </div>
                          <!-- Imagenes menores derecha -->
                          <div class="col-sm-6">
                            <img class="img-fluid mb-3" src="{% static 'img/Compras/Compras 4.svg' %}" alt="Photo">
                            <img class="img-fluid" src="{% static 'img/Compras/Compras 2.png' %}" alt="Photo">
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <p>
                      <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Compartir</a>
                      <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gusta</a>
                      <span class="float-right">
                        <a href="#" class="link-black text-sm">
                          <i class="far fa-comments mr-1"></i> Comentarios (311)
                        </a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (23,542)</a>
                      </span>
                    </p>

                    <input class="form-control form-control-sm" type="text" placeholder="Comentar">
                  </div>
                  <!-- /.post -->
                </div>
                <!-- Notificación -->
                <div class="tab-pane" id="timeline">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- tiempo 1 -->
                    <div class="time-label">
                      <span class="bg-danger">
                         Hoy, 17 Jun. 2021
                      </span>
                    </div>
                    <div>
                      <i class="fas fa-envelope bg-primary"></i>
                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> 1:05</span>
                        <h3 class="timeline-header"><a href="#">Soporte tecnico</a> Envio un mensaje</h3>
                        <div class="timeline-body">
                          Lamento que tengas este inconveniente con tu correo, pero juntos lograremos resolverlo. <br>
                          Te comento que ese correo es totalmente falso, se trata de una tecnica usada por cyber criminales, para tratar de robar los datos de tu correo, por lo que te recomiendo bloquear al remitente.
                        </div>
                        <div class="timeline-footer">
                          <a href="../../../Notificaciones/templates/Notificaciones/Notificacion.html" class="btn btn-warning btn-flat btn-sm">Ver comentario</a>
                        </div>
                      </div>
                    </div>
                    <!-- Aceptación de amistad Gina-->
                    <div>
                      <i class="fas fa-user bg-info"></i>
                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> Hace 5 minutos</span>
                        <h3 class="timeline-header border-0"><a href="#">Gina Villa</a> Aceptó tu solicitud de amistad
                        </h3>
                        <div class="timeline-footer">
                        <a href="#" class="btn btn-warning btn-flat btn-sm">Ver</a>
                      </div>
                      </div>
                      
                    </div>

                    <div>
                      <i class="fas fa-comments bg-warning"></i>
                      <!-- Comentario de deiner -->
                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> Hace 27 minutos</span>

                        <h3 class="timeline-header"><a href="#">Deiner Andres</a> Comento tu publicación</h3>

                        <div class="timeline-body">
                          <strong>Fraces para recordar</strong> <br>
                          “Cuando todo parece estar en tu contra, recuerda que un avión despega contra el viento, no con él”. <br>
                          “Un actor debe ser capaz de meterse en la piel de otras personas y eso me resulta difícil. Prefiero interpretarme a mí mismo: un piloto de carreras. Es lo que soy”. <br>
                          <i>Amour pour l'aviation</i>
                        </div>
                        <div class="timeline-footer">
                          <a href="../../../Chat/templates/Chat/Chat.html" class="btn btn-warning btn-flat btn-sm">Ver mensaje</a>
                        </div>
                      </div>
                    </div>
                    <!-- 2do tiempo -->
                    <div class="time-label">
                      <span class="bg-success">
                        16 Abr. 2021
                      </span>
                    </div>
                    <!-- Fotos de Edgar-->
                    <div>
                      <i class="fas fa-camera bg-purple"></i>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> hace 2 meses</span>

                        <h3 class="timeline-header"><a href="#">Edgar Granados</a> Subio nuevas fotos</h3>
                      <!-- Imagen mayor -->
                    <div class="row mb-3">
                      <div class="col-sm-6">
                        <!-- Imagenes menores izquierda -->
                        <img class="img-fluid" src="{% static 'img/Fotos Edgar/Analista 2.svg' %}" alt="Photo">
                      </div>
                          <!-- Imagenes menores derecha -->
                          <div class="col-sm-6">
                            <div class="row">
                          <div class="col-sm-6">
                            <img class="img-fluid mb-3" src="{% static 'img/Fotos Edgar/Analista 4.svg' %}" alt="Photo">
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <div class="timeline-footer">
                        <a href="../../../Notificaciones/templates/Notificaciones/Notificacion.html" class="btn btn-warning btn-flat btn-sm">Ver comentario</a>
                      </div>
                    </div>

                    
                      </div>
                    </div>
                    <div class="time-label">
                      <span class="bg-danger">
                        31 Mar. 2021
                      </span>
                    </div>
                    <!-- Aceptación de amistad jaz -->
                    <div>
                      <i class="fas fa-user bg-info"></i>
                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> Hace 3 meses</span>
                        <h3 class="timeline-header border-0"><a href="#">Jaz Herrera Catalano</a> Aceptó tu solicitud de amistad
                        </h3>
                        <div class="timeline-footer">
                          <a href="#" class="btn btn-warning btn-flat btn-sm" >Ver</a>
                        </div>
                      </div>
                      
                    </div>
                    <div class="time-label">
                      <span class="bg-success">
                        5 Ene. 2021
                      </span>
                    </div>
                    <div>
                      <i class="fas fa-comments bg-warning"></i>
                      <!-- Comentario de maria -->
                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> Hace 6 meses</span>

                        <h3 class="timeline-header"><a href="#">Maria Isabel</a> Comento tu publicación</h3>

                        <div class="timeline-body">
                          <p><strong><i>Te deseo suerte con el programa, lo dejo en tus manos </i></strong></p>
                          <img style="height: 160px ;" src="{% static 'img/Stikers/Stiker Cariño.png' %}" alt="#">
                          <p><strong><i>Recuerden que son los mejores, Besitos :3</i></strong></p>
                          <img style="height: 160px" src="{% static 'img/Stikers/Stiker Amor.png' %}" alt="">
                        </div>
                        <div class="timeline-footer">
                          <a href="../../../Chat/templates/Chat/Chat.html" class="btn btn-warning btn-flat btn-sm">Ver mensaje</a>
                        </div>
                      </div>
                    </div>




                    <div>
                      <i class="far fa-clock bg-gray"></i>
                    </div>
                  </div>
                </div>
                      <!-- Contenido de ajustes -->
                <div class="tab-pane" id="settings">
                  <form class="form-horizontal">
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-10">
                        <input type="name" class="form-control" id="inputName" placeholder="Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputName2" class="col-sm-2 col-form-label">Apellido</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName2" placeholder="Apellido">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-2 col-form-label">Correo electronico</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Correo electronico">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="inputExperience" class="col-sm-2 col-form-label">Experiencia</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="inputExperience" placeholder="Experiencia"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputSkills" class="col-sm-2 col-form-label">Habilidades</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSkills" placeholder="Habilidades">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Aceptó los <a href="#">Terminos y condiciones</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-danger">Enviar</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </section>
</div>
    
{% include 'footer.html' %}