{% extends 'body.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Perfil</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'Perfil' %}">Perfil</a></li>
                        </ol>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- Aqui va toda la info del main -->
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <!-- Profile Image -->
                        <div class="card card-dark card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <a href="#" >
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="{{ request.user.get_image }}"
                                             alt="User profile picture">
                                    </a>

                                </div>

                                <h3 class="profile-username text-center">{{ request.user.get_full_name }}</h3>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="settings">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputName"
                                                           value="{{ request.user.get_full_name }}" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" class="form-control" id="inputEmail"
                                                           value="{{ request.user.email }}" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputAge" class="col-sm-2 col-form-label">Usuario</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputAge"
                                                           value="{{ request.user.username }}" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputAge" class="col-sm-2 col-form-label">Creación de
                                                    usuario</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputAge"
                                                           value="{{ request.user.date_joined }}" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputAge" class="col-sm-2 col-form-label">Contraseña</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputAge"
                                                           value="{{ request.user.password }}" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <a href="{% url 'User_edit' %}" class="btn btn-primary"><i
                                                            class="fas fa-user-edit"></i>Editar
                                                        usuario</a>

                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
{% endblock %}