{% load static %}
 {% include 'header.html' %}
    <!-- contenido -->
    <div class="content-wrapper">
        <!--cartas cabezera-->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"><strong><i>Inicio</i></strong></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index.html"><strong><i>inicio</i></strong></a></li>
            <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--cartas con porcentajes-->
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>250</h3>

              <p><i> Nuevas ordenes</i></p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>

            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>89<sup style="font-size: 20px">%</sup></h3>

              <p><i> Porcentaje de funcionamiento</i></p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>5.000</h3>

              <p> <i> Usuarios registrados</i></p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>2.000</h3>

              <p> <i> Vistas</i></p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <!-- /.row (main row) -->
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> <i> DE L'ARGENT</i></h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <strong> Propósito <br></strong>
                ▪	Evitar la pérdida de productos y de dinero <br>
                ▪	El proyecto permitirá minimizar las pérdidas de productos y dinero en gran porcentaje . <br>
                ▪	Supermercados a nivel nacional <br>
                <br>
                <strong>Funcionalidad del producto</strong> <br>
                El aplicativo es la solución que se acoplará a otro sistema ya existente en el negocio o empresa. <br>
                <br>
                En el aplicativo registraran todos los productos de la tienda para que este haga una lista de aquellos productos del supermercado que estén cercanos a su fecha límite de vida útil, una vez que el sistema de el aviso de aquellos productos que esten proximos a vencer, este sugeriría una promoción para aprovechar estos productos; la promoción también puede ser decidida  por el gerente del supermercado.
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
              <i>en busca de la perfección</i>
              </div>
              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>


          <!--cartas de presentacion del inicio-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Graficas</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                </button>
              </div>
            </div>
            <div class="card-body">
              <!--graficas-->
              <section class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- Calculo anual -->
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Calculo anual</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>

                        <div class="chart">
                          <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/Mar-Business_11.jpg' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                          <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                        </div>
                      </div>
                      <!-- Empresas contratadas -->
                      <div class="card card-danger">
                        <div class="card-header">
                          <h3 class="card-title">Empresas contratadas</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="chart">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/undraw_business_shop_qw5t.png' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                          </div>
                        <!-- /.card-body -->
                      </div>

                      <!-- Mantenimiento -->
                      <div class="card card-danger">
                        <div class="card-header">
                          <h3 class="card-title">Mantenimiento</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="chart">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/Mantenimiento.jpg' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                          </div>
                        <!-- /.card-body -->
                      </div>
                    </div>

                    <!-- /.graficas (izquierda) -->
                    <div class="col-md-6">
                      <!-- Control de inventario -->
                      <div class="card card-info">
                        <div class="card-header">
                          <h3 class="card-title">Control de inventario</h3>

                          <div class="card-tools" >
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="chart">
                          <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/Cuadro 1.jpg' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                          <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                        </div>
                        <!-- /.card-body -->
                      </div>

                      <!-- Negociación y estrategias empresariales -->
                      <div class="card card-success">
                        <div class="card-header">
                          <h3 class="card-title">Negociación y estrategias empresariales</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="chart">
                          <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/undraw_business_deal_cpi9.png' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                          <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                        </div>
                        <!-- /.card-body -->
                      </div>

                      <!-- Mejora y deteción de errores-->
                      <div class="card card-success">
                        <div class="card-header">
                          <h3 class="card-title">Mejora y deteción de errores</h3>

                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                        </div>
                        <div class="chart">
                          <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><img src="{% static 'img/Index/undraw_online_banking_7jy4.png' %}" alt="" style="height: 360PX;width: 530px;"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                          <canvas id="areaChart" style="min-height: 0px; height: 0px; max-height: 0px; max-width: 0%; display: block; width: 378px;" width="378" height="250" class="chartjs-render-monitor"></canvas>

                        </div>
                        <!-- /.card-body -->
                      </div>

                    </div>
                    <!-- /.graficas (derecha) -->
                  </div>
                </div>
              </section>
            </div>
            <!-- footer -->
            <div class="card-footer">
            <i>Conocimiento general del software y la empresa </i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!--contenido de tablas -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">

                    <!--tabla  -->
                    <div class="card-body table-responsive p-0">
                      {% include 'category/list.html' %}
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>

            <!-- /.card-body -->
            <div class="card-footer">
              <i><strong>Creadores y personas encargadas del manejo del software</strong></i>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>

</div>

{% include 'footer.html' %}