{% load static %}
{% include 'header.html' %}

<!-- contenido -->
<div class="content-wrapper">
<!--cartas cabezera-->
<div class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1 class="m-0"><strong><i> Alerta De Productos</i></strong></h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item" ><a href="{% url 'inicio' %}"><strong><i>inicio</i></strong></a></li>
<li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
</ol>
</div>
</div>
</div>
</div>
<!-- Contentenido -->
<div class="col-md-6">
<div style="width: 1000px;">
<div class="card card-default;">
<div class="card-header">
<h3 class="card-title">
<i class="fas fa-bullhorn"></i>
Fecha de vencimiento
</h3>
</div>
<!-- /.card-header -->
<div style="width: 1000px;">
<div class="card-body">


<div class="callout callout-warning">
<h5><strong><i>Advertencia (Faltan menos de 5 dias, para vencimiento)</i></strong></h5>

{% block content %}
<div class="card-body table-responsive p-0">
<table class="table table-hover text-nowrap">
<thead>
  <tr>
    <th>Nombre de Producto</th>
    <th>Cantidad</th>
    <th>Editar</th>
  </tr>
</thead>
<tbody>
 <tr>
     {% for c in object_list %}
         <i>
      <td>{{ c.Producto }}</td>
      <td>{{ c.Cantidad }}</td>
     <td>
         <a href="{% url 'Alerta_Delete' c.id %}" class="btn btn-outline-danger btn-xs"><i class="far fa-trash-alt"></i></a>
</i>
 </tr>
{% endfor %}
</tbody>
<tfoot>
  <tfoot>t
<td>
                  <div class="card-footer">
<a href="{% url 'Crear Alerta' %}" class="btn btn-block btn-outline-success btn-flat btnTest"><i class="fas fa-exclamation"></i>
Ingrese una Alerta
</a>

</tfoot>
</table>
</div>
{% endblock %}

</div>

</div>
</div>
<!-- /.card-body -->
</div>
</div>
<!-- /.card -->
</div>
</div>

{% include 'footer.html' %}