{% load static %}

{% include 'header.html' %}
    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i>Carnes</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="index.html"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    <!-- Contentenido -->
  <section class="content">

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><strong><i>Carnes</i></strong></h3>

              <div class="card-tools">
            <div class="card-body">
              <div>

                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Carne de pollo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pollo<br>15 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Cerdo" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Cerdo<br>19 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Muslo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Muslos de pollo<br>30 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/jamon.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Jamon de cerdo<br>15 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Jamon de pavo.png" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Jamon de pavo<br>10 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Chorizo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Chorizo<br>56 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/mortadela.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Mortadela<br>12 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/menudencia.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Menudencias de pollo<br>10 unidades</i></strong></p></ul>
          
          
              
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/molipollo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Molipollo<br>10 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/salchichon.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Salchichon<br>10 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/longaniza.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Longaniza<br>10 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Butifarra.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Butiffara<br>10 unidades</i></strong></p></ul>
          
                <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Salchichas.jpeg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Salchichas<br>10 unidades</i></strong></p></ul>
              
            </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <td>
                <a class="nav-link" id="vert-tabs-home-tab" data-toggle="pill" href="#carnes" role="tab" aria-controls="vert-tabs-home" aria-selected="false"> <button type="button" class="btn btn-block btn-outline-info">Agregar nuevo producto</button>
              </td>
                <div class="tab-pane fade" id="carnes" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Inscripción de productos</h3>
                    </div>
                    <div class="card-body">        
                      <!-- Color Picker -->
                      <div class="form-group">
                        <label>Agregar producto</label>
      
                        <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                          <input type="text" class="form-control" data-original-title="" title="">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fab fa-shopify"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Cantidad</label>
      
                        <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                          <input type="number" class="form-control" data-original-title="" title="">
                          <span class="input-group-append">
                            <button type="submit" class="btn btn-success">Agregar</button>
                          </span>
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  </div>
                  
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
        
      </div>
    </div>
  </div>
</div>

  </section>
  <section class="content" >

    <div class="container-fluid">
      <div class="row" >
        <div class="col-12">
          <!-- Default box -->
          <div class="card" >
            <div class="card-header">
              <h3 class="card-title"><strong><i>Mariscos</i></strong></h3>
            </div>
            <div class="card-body">

              <div>
              <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Mariscos/pescado.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pescado<br>49 unidades</i></strong></p></ul>

              <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Mariscos/Camaron.webp" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Camaron<br>15 unidades</i></strong></p></ul>

              <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Mariscos/cangrejos.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Cangrejo<br>24 unidades</i></strong></p></ul>

              <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Mariscos/Pulpo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pulpo<br>35 unidades</i></strong></p></ul>

              <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Carnes/Mariscos/SUSHI.jpeg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Sushi<br>9 unidades</i></strong></p></ul>
            </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <td>
                <a class="nav-link" id="vert-tabs-home-tab" data-toggle="pill" href="#mariscos" role="tab" aria-controls="vert-tabs-home" aria-selected="false"> <button type="button" class="btn btn-block btn-outline-info">Agregar nuevo producto</button>
              </td>
                <div class="tab-pane fade" id="mariscos" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Inscripción de productos</h3>
                    </div>
                    <div class="card-body">        
                      <!-- Color Picker -->
                      <div class="form-group">
                        <label>Agregar producto</label>
      
                        <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                          <input type="text" class="form-control" data-original-title="" title="">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fab fa-shopify"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Cantidad</label>
      
                        <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                          <input type="number" class="form-control" data-original-title="" title="">
                          <span class="input-group-append">
                            <button type="submit" class="btn btn-success">Agregar</button>
                          </span>
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  </div>
            </div>
            <!-- /.card-footer-->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  
    </div>
    
{% include 'footer.html' %}