{% load static %}
{% include 'header.html' %}
    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i>Frutas y Verduras</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="index.html"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    <!-- Contentenido -->
        <section class="content">

          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <!-- Default box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"><strong><i>Frutas y verduras</i></strong></h3>

                  </div>
                  <div class="card-body">
                    <div style="height: 300px;">

                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/tomate.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Tomates <br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/zanahoria.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Zanahorias<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/cebolla de rama.gif" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Cebolla de rama<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/cebolla.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Cebolla de huevo<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/papa criolla.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Papa criolla<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/papa.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Papa<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/manzana.webp" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Manzanas<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/pera.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pera<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/Durazno.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Duraznos<br>12 unidades</i></strong></p></ul>
                  
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/platano maduro.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Platanos maduros<br>12 unidades</i></strong></p></ul>
                  
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/platano verde.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Platano verde<br>12 unidades</i></strong></p></ul>
                  
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/guineos.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Guineos<br>12 unidades</i></strong></p></ul>
                  
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/mora.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Mora<br>12 unidades</i></strong></p></ul>
                  
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/uva.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Uvas<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/pepino.jpeg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pepino<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/remolacha.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Remolacha<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/papaya.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Papaya<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/pitahaya.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Pitahaya<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/banana.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Banano<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/naranja.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Naranja<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/mandarina.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Mandarina<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/mango.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Mango<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/coco.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Coco<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/piña.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Piña<br>12 unidades</i></strong></p></ul>
                      
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/guanabana.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Guanabana<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/limon.jpeg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Limon<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/maracuya.jpeg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Maracuya<br>12 unidades</i></strong></p></ul>
              
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/borojo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Borojo<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/guayaba.webp" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Guanyaba<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/mamoncillo.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Mamoncillo<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/cereza.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Cereza<br>12 unidades</i></strong></p></ul>
              
                      <ul style="float: left;"><img  class="direct-chat-img" src="img/Productos/Frutas y verduras/toronja.jpg" alt="mensaje de imagen de usuario" style="height: 60px; width: 60px;"> <p style="padding-left: 100px;padding-top: 6px;"><strong><i>Toronja<br>12 unidades</i></strong></p></ul>
              
                      
                      </div>
                      <td>
                        <a class="nav-link" id="vert-tabs-home-tab" data-toggle="pill" href="#frutas" role="tab" aria-controls="vert-tabs-home" aria-selected="false"> <button type="button" class="btn btn-block btn-outline-info">Agregar nuevo producto</button>
                      </td>
                        <div class="tab-pane fade" id="frutas" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
                          <div class="card card-info">
                            <div class="card-header">
                              <h3 class="card-title">Inscripción de productos</h3>
                            </div>
                            <div class="card-body">        
                              <!-- Color Picker -->
                              <div class="form-group">
                                <label>Agregar producto</label>
              
                                <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                                  <input type="text" class="form-control" data-original-title="" title="">
                                  <div class="input-group-append">
                                    <span class="input-group-text"><i class="fab fa-shopify"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Cantidad</label>
              
                                <div class="input-group my-colorpicker2 colorpicker-element" data-colorpicker-id="2">
                                  <input type="number" class="form-control" data-original-title="" title="">
              
                                  <span class="input-group-append">
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                  </span>
                                  <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
                                  </div>
                                </div>
                              </div>
      
                            </div>
                          </div>
      
                          </div>
                  </div>

                  <!-- /.card-footer-->
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
    
    </div>
    </div>
    
{% include 'footer.html' %}