{% load static %}
{% include 'header.html' %}

    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i> Alerta De Productos</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="index.html"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    <!-- Contentenido -->
    <div class="col-md-6">
        <div style="width: 1000px;">
      <div class="card card-default;">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-bullhorn"></i>
            Fecha de vencimiento
          </h3>
        </div>
        <!-- /.card-header -->
        <div style="width: 1000px;">
        <div class="card-body">
          <div class="callout callout-danger">
            <h5><strong><i>Emergencia (Faltan menos de 3 dias, para vencimiento)</i></strong></h5>

            <p>-7 paquetes de zanahorias <br>
              - 10 helados <br>
              - 2 cocacolas <br>
              - 3 leche en polvo</p>
          </div>

          <div class="callout callout-warning">
            <h5><strong><i>Advertencia (Faltan 4 y 6 dias, para vencimiento)</i></strong></h5>

            <p>- 5 bolsas de leche <br>
              - 6 Yogurt <br>
              - 8 Fantas <br>
              - 2 paquetes de manzanas</p>
          </div>
          <div class="callout callout-success">
            <h5><strong><i>Aviso (Faltan menos de 10 dias, para vencimiento)</i></strong></h5>

            <p>- 3 paquetes de frijol <br>
              - 2 quesos <br>
              - 8 paquetes de papa <br>
              - 2 jamones de cerdo</p>
          </div>
        </div>
      </div>
        <!-- /.card-body -->
      </div>
    </div>
      <!-- /.card -->
    </div>
    </div>
    
{% include 'footer.html' %}