{% load static %}
{% include 'header.html' %}

    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i>Notificaciones</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="index.html"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

          <!-- Contentenido  personal-->
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static 'img/Foto de perfil.svg' %}" alt="User Image">
          <span class="username"><a href="../../../Perfil/templates/Perfil/perfil.html">Alex Meneses <BR>Andres Gonzales</a></span>
          <span class="description">Compartiste 3 imagenes</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">

          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">



        <div class="row">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2 bg-gradient-dark">
              <img class="card-img-top" src="{% static 'img/Paisajes/Positano.jpg' %}" alt="Dist Photo 1" style="height: 263PX;">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title text-primary text-white"><strong>Positano</strong></h5>
                <p class="card-text text-black pb-2 pt-1">Positano es quizás el pueblo más conocido y uno de los más bellos de la Costa Amalfitana, zona declarada Patrimonio de la Humanidad.</p>
                <a href="Notificacion.html" class="text-white">Última actualización hace 2 minutos</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{% static 'img/Paisajes/Barcelona.jpg' %}" alt="Dist Photo 2" style="height: 263PX;">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                <h5 class="card-title text-white mt-5 pt-2">Barcelona </h5>
                <p class="card-text pb-2 pt-1 text-white">
                  Es la ciudad perfecta tanto para los amantes de la playa como para los amantes de la montaña. ¡Ni siquiera tendrás que elegir, lo tienes todo! Esto se debe a que Barcelona se encuentra a orillas del mar Mediterráneo y está a la vez rodeada de montañas.
                </p>
                <a href="Notificacion.html" class="text-white">Última actualización hace 15 Horas</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2">
              <img class="card-img-top" src="{% static 'img/Paisajes/Noruega.jpeg' %}" alt="Dist Photo 3" style="height: 263PX;">
              <div class="card-img-overlay">
                <h5 class="card-title text-primary">Noruega</h5>
                <p class="card-text pb-1 pt-1 text-white">
                  Noruega es un gran destino turistico, ya que esta es unica por sus inmensos y bastos paisajes que enamoran y fasinan a quien los observa. </p>
                <a href="Notificacion.html" class="text-primary">Última actualización hace 21 Horas</a>
              </div>
            </div>
          </div>
        </div>


        <a href="#" class="link-black text-sm">
          <i class="far fa-comments mr-1"></i> Comentarios (2,359)
        </a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>  Me gustas (6,735)</a>
      </div>


      <!-- /.card-footer -->
      <div class="card-footer">
        <form action="#" method="post">
          <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control form-control-sm" placeholder="Comentar">
          </div>
        </form>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- Contentenido  Auron-->
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static 'img/Usuarios principales/Auron.jpeg' %}" alt="User Image">
          <span class="username"><a href="#">Raúl Álvarez Genes</a></span>
          <span class="description">Compartio publicidad - 7:30 PM Ayer</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">

          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>

        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <p>
          <strong><i>Frases Iconicas</i></strong>
          <ol type="A"><i>
            <li>Calvoo</li>
            <li>Abduzcan</li>
            <li>Te quiero nene</li>
            <li>Tengo miedo</li>
            <li>Yo no soy rico, soy un pobre con dinero</li>
            <li>Hola cerebro, estás ahí? «su llamada no puede se procesada»</li>
            <li>Yo soy un Antisistema yo rompo las reglas</li>
            <li>Vamos a morir todos!</li></i>
          </ol>
        </p>
        <a href="#" class="link-black text-sm">
          <i class="far fa-comments mr-1"></i> Comentarios (24,276)
        </a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (2,631,564)</a>
      </div>


      <!-- /.card-footer -->
      <div class="card-footer">
        <form action="#" method="post">
          <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control form-control-sm" placeholder="Comentar">
          </div>
        </form>
      </div>
      <!-- /.card-footer -->
    </div>

    <!-- Contentenido  Maria-->
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static 'img/Usuarios principales/Maria.jpeg' %}" alt="User Image">
          <span class="username"><a href="#">Maria Isabel P.</a></span>
          <span class="description">Compartio publicidad - Hace 2 dias</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">

          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>

        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">

        <p>
          <strong>Convocatoria</strong>
          <br>
          Convoco a la directiva de la empresa para solicitar los informes mensuales de cada área administrativa de la empresa, asi como el conocimiento general de la empresa y el comportamiento del software y efectos que ha tenido con las ganancias y perdidas de productos
          <br>
          <i>P.D.: Soy lo mas hermoso del mundo caramba!</i>
        </p>
        <a href="#" class="link-black text-sm">
          <i class="far fa-comments mr-1"></i> Comentarios (159)
        </a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>  Me gustas (2,735)</a>
      </div>


      <!-- /.card-footer -->
      <div class="card-footer">
        <form action="#" method="post">
          <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control form-control-sm" placeholder="Comentar">
          </div>
        </form>
      </div>
      <!-- /.card-footer -->
    </div>

        <!-- Contentenido  Escardi-->
        <div class="card card-widget">
          <div class="card-header">
            <div class="user-block">
              <img class="img-circle" src="{% static 'img/Usuarios principales/Juan Manuel.jpeg' %}" alt="User Image">
              <span class="username"><a href="#">Juan Manuel Barranco Padilla</a></span>
              <span class="description">Te menciono en un comentario - Hace 3 dias</span>
            </div>
            <!-- /.user-block -->
            <div class="card-tools">

              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <p>
              <strong>licitaciones</strong>
              <br>
              Mi empresa tiene un personal experimentado y cuento con los productos necesarios para la satisfacción de la empresa y retro alimentación para el programa que ustedes están utilizando para la administración y control del inventario ,somos una empresa nueva en el mercado, aun asi tenemos el personal con la experiencia necesaria para ofrecerles un servicio eficiente y de la mejor calidad
            </p>
            <a href="#" class="link-black text-sm">
              <i class="far fa-comments mr-1"></i> Comentarios (359)
            </a>
            <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>  Me gustas (2,135)</a>
          </div>
    
    
          <!-- /.card-footer -->
          <div class="card-footer">
            <form action="#" method="post">
              <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
              <!-- .img-push is used to add margin to elements next to floating images -->
              <div class="img-push">
                <input type="text" class="form-control form-control-sm" placeholder="Comentar">
              </div>
            </form>
          </div>
          <!-- /.card-footer -->
        </div>

            <!-- Contentenido  Melissa-->
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static 'img/Usuarios principales/Melissa.jpeg' %}" alt="User Image">
          <span class="username"><a href="#">Melissa Yapura</a></span>
          <span class="description">Posteó 5 fotos - hace 5 dias</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">

          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>

        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">


        <!-- Imagen mayor -->
        <div class="row mb-3" >
          <div class="col-sm-6">
            <p><strong><i>Adjunto  fotos para futuros proyectos</i></strong></p>
            <img class="img-fluid" src="{% static 'img/Compras/Compras.svg' %}" alt="Photo" style="height: 150px;">
          </div>
          <!-- Imagenes menores izquierda -->
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid mb-3" src="{% static 'img/Compras/Compras 1.png' %}" alt="Photo" style="height:  150px;">
                <img class="img-fluid" src="{% static 'img/Compras/Compras 3.svg' %}" alt="Photo" style="height:  150px;">
              </div>
              <!-- Imagenes menores derecha -->
              <div class="col-sm-6">
                <img class="img-fluid mb-3" src="{% static 'img/Compras/Compras 4.svg' %}" alt="Photo" style="height:  150px;">
                <img class="img-fluid" src="{% static 'img/Compras/Compras 2.png' %}" alt="Photo" style="height:  150px;">
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.col -->
        </div>

        <a href="#" class="link-black text-sm">
          <i class="far fa-comments mr-1"></i> Comentarios (311)
        </a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Me gustas (23,542)</a>
      </div>


      <!-- /.card-footer -->
      <div class="card-footer">
        <form action="#" method="post">
          <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control form-control-sm" placeholder="Comentar">
          </div>
        </form>
      </div>
      <!-- /.card-footer -->
    </div>


        <!-- Contentenido  soporte tecnico-->
        <div class="card card-widget">
          <div class="card-header">
            <div class="user-block">
              <img class="img-circle" src="{% static 'img/Usuarios principales/Soporte Tecnico.png' %}" alt="User Image">
              <span class="username"><a href="#">Soporte tecnico</a></span>
              <span class="description">Envio un mensaje<- Hace 5 dias</span>
            </div>
            <!-- /.user-block -->
            <div class="card-tools">

              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
    
            <p>
              Lamento que tengas este inconveniente con tu correo, pero juntos lograremos resolverlo. <br>
              Te comento que ese correo es totalmente falso, se trata de una tecnica usada por cyber criminales, para tratar de robar los datos de tu correo, por lo que te recomiendo bloquear al remitente.
            </p>

            <a href="#" class="link-black text-sm">
              <i class="far fa-comments mr-1"></i> Com{% static 'img/Usuarios principales/Soporte Tecnico.png' %}entarios (200)
            </a>
            <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>  Me gustas (735)</a>
          <!-- /.card-footer -->
          <div class="card-footer">
            <form action="#" method="post">
              <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
              <!-- .img-push is used to add margin to elements next to floating images -->
              <div class="img-push">
                <input type="text" class="form-control form-control-sm" placeholder="Comentar">
              </div>
            </form>
          </div>
          <!-- /.card-footer -->
        </div>

    </div>

    <!-- Contentenido Edgar-->
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static 'img/Usuarios principales/Edgar Granados.jpeg' %}" alt="User Image">
          <span class="username"><a href="#">Edgar Granados.</a></span>
          <span class="description">Subio nuevas fotos- Hace 7 dias</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">

          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>

        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
                      <!-- Imagen mayor -->
                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <!-- Imagenes menores izquierda -->
                          <img class="img-fluid" src="{% static 'img/Fotos Edgar/Analista 2.svg' %}" alt="Photo" style="height: 150px;">
                        </div>
                            <!-- Imagenes menores derecha -->
                            <div class="col-sm-6">
                              <div class="row">
                            <div class="col-sm-6">
                              <img class="img-fluid mb-3" src="{% static 'img/Fotos Edgar/Analista 4.svg' %}" alt="Photo" style="height: 150px;">
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </div>
                      </div>
        <a href="#" class="link-black text-sm">
          <i class="far fa-comments mr-1"></i> Comentarios (2,159)
        </a>
        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>  Me gustas (1,755)</a>
      </div>


      <!-- /.card-footer -->
      <div class="card-footer">
        <form action="#" method="post">
          <img class="img-fluid img-circle img-sm" src="{% static 'img/Foto de perfil.svg' %}" alt="Alt Text">
          <!-- .img-push is used to add margin to elements next to floating images -->
          <div class="img-push">
            <input type="text" class="form-control form-control-sm" placeholder="Comentar">
          </div>
        </form>
      </div>
      <!-- /.card-footer -->
    </div>


  </div>
    
 {% include 'footer.html' %}