{% load static %}
{% include 'header.html' %}
    <script src="{% static 'lib/highcharts-9.2.1/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.2.1/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.2.1/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-9.2.1/modules/accessibility.js' %}"></script>

    <!-- contenido -->
    <div class="content-wrapper">
            <!--cartas cabezera-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"><strong><i>Ventas realizadas</i></strong></h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item" ><a href="{% url 'inicio' %}"><strong><i>inicio</i></strong></a></li>
                <li class="breadcrumb-item active"><i>DE L'ARGENT </i></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    <!-- Contentenido -->
    <section class="content">

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- Default box -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <strong><i>Reporte y avisos</i></strong>
                </h3>

              </div>
              <div class="card-body">
                <div class="card-body">
                  <strong><i>Reporte</i></strong><br>
                  El sotfware ha disminuido un 60% de peridas evitando la perdia de productos generando beneficios para la empresa.
                </div>
                <div class="card-body">
                  <strong><i>Aviso</i></strong><br>
                  El siguiente reporte se hara durante los proximos 15 dias.
                </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
        </div>
    </div>
<script type="application/javascript">

    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Ventas realizadas'
    },
    subtitle: {
        text: 'Ventas'
    },
    xAxis: {
        categories: [
            'Lunes',
            'Martes',
            'Miercoles',
            'Jueves',
            'Viernes',
            'Sabado',
            'Domingo',
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Valores'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Venta',
        colorByPoint: true,
        data: [5000000, 2000000, 3500000, 4000000, 1500000, 4380000, 3404999]

    }]
});
</script>

              </div>

              <!-- /.card-footer-->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>


    </div>
    
    </div>
    
{% include 'footer.html' %}